<% layout('layouts/boilerplate') %>
<style>
    body {
        background-color: #fff1e6;
    }
</style>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error 404</h4>
            <p>Page Not Found</p>
            <hr>
            <p class="mb-0">The page you're looking for may have been deleted, moved or never existed.</p>
        </div>
    </div>
</div>